<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBanHang.Properties.Settings.DatabaseQuanLyBanHangConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang.Properties.Settings.QuanLyBanHangDatabaseConnectionString"
      connectionString="Data Source=172.18.200.190\MSSQLSERVER2016,49166;Initial Catalog=QuanLyBanHangDatabase;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <QuanLyBanHang.Properties.Settings>
      <setting name="CompanyName" serializeAs="String">
        <value>Công ty Mẹ và Bé</value>
      </setting>
    </QuanLyBanHang.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
